.s-form {
    padding: 20px;
    border-radius: 10px;
    margin-top: 23px;
}

.title {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-bottom: 12px;
}

.input-description{
    width: 294px;
    height: 53px;
    background-color: #F8F9FA;
    border: none;
    border-radius: 8px;
    padding-left: 20px;

    font-size: 16px;
    color: #868E96;
}

.title-ex {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: 22px;
}

.title-value {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;

}

.title-op{
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.btn-insere {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #f1f1f1;
    background-color: #FD377E;

    height: 48px;
    width: 314px;

    border: none;
    border-radius: 5px;

    cursor: pointer;

    margin: 20px 0 0 0;
}

.btn-insere:hover{
    background-color: #954287;
}

.ctn-valor-tipo{
    display: flex;
    justify-content: space-between;
}

.input-value{
    width: 128px;
    height: 48px;
    background-color: #F8F9FA;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: #868E96;
    padding-left: 2px;
}

select {
    width: 150px;
    height: 48px;
    background-color: #F8F9FA;
    border: none;
    border-radius: 8px;
}

