@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

.HomePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.logado {
  width: 100%;
  height: 100%;
}

.div-center {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 50px;
}

.logo-kenzie {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  font-size: 30px;
  margin: 0px;
}

.logo-nu {
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #fd377e;
}

.fundo {
  margin: 30px 0 0 0;
  height: 50vh;
}

.title-login {
  width: 45%;
  font-weight: 800;
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top: 30px;
}

.title-login-label {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 28px;
}

.submit {
  width: 200px;
  height: 50px;

  background-color: #e064cc;
  color: #ffffff;

  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin: 0 0 0 10px;

  cursor: pointer;
}

.submit:hover {
  transition: 0.5s;
  background-color: #954287;
  color: #ffffff;
}

/* !-----------------------USUARIO LOGADO-------------------------- */

.logado {
  margin: 0;
}

header {
  width: 100%;
  height: 88px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f8f9fa;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}

.logo {
  margin-left: 15px;
}

.btn-inicio {
  width: 64px;
  height: 40px;
  background-color: #e9ecef;
  margin-right: 15px;
  border: none;
  border-radius: 8px;

  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  margin-left: 20px;
  margin-top: 34px;
}

aside {
  width: 360px;
  height: 350px;

  margin-right: 30px;

  border: 1px #e9ecef solid;
}

.ctn-resumo {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.div-filter {
  display: flex;
}

.title-resumo {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  margin-right: 30px;
  font-weight: 550;
}

section {
  margin-left: 30px;
}

/*! ------------------------------- */

@media screen and (min-width: 996px) {
  .HomePage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .div-center {
    width: 40%;
    margin-left: 200px;
  }

  .logo-kenzie {
    font-size: 30px;
    margin: 0;
  }

  label {
    font-size: 14px;
  }

  p {
    font-size: 30px;
  }

  .submit {
    width: 30%;
    height: 50px;
    font-size: 20px;
  }

  header {
    height: 88px;
  }
  .logo {
    margin-left: 19%;
    position: inherit;
  }

  .btn-inicio {
    margin-right: 20%;
    position: inherit;
  }

  .title-resumo {
    margin-right: 150px;
  }

  main {
    margin-right: 260px;
    margin-left: 250px;
  }
}
